{% extends 'base.html.twig' %}

{% block title %}Ajouter un aticle{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-between">
            <h1>Ajouter un article</h1>
            <a href="{{ path('app_articles') }}" class="btn btn-light h-75" >List</a>
        </div>
        <div>
            {{ form(form) }}
        </div>
    </div>


{% endblock %}
