{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

    <div class="container">
        <a href="{{ path('app_articles')}}" class="btn btn-light h-75">List</a>
        <h3 class="pb-3 mb-4 font-italic border-bottom text-border">{{ article.title }}</h3>

        <p>{{ article.body|raw }}</p>
    </div>

{% endblock %}
